# Created by https://www.toptal.com/developers/gitignore/api/eclipse
# Edit at https://www.toptal.com/developers/gitignore?templates=eclipse

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

### Eclipse Patch ###
# Spring Boot Tooling
.sts4-cache/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# target files
target/

*.DS_Store

# temporary files
*~

# Files for AndroidStudio
# Created by https://www.toptal.com/developers/gitignore/api/androidstudio
# Edit at https://www.toptal.com/developers/gitignore?templates=androidstudio

### AndroidStudio ###
# Covers files to be ignored for android development using Android Studio.

# Built application files
AndroidApp/*.apk
AndroidApp/*.ap_
AndroidApp/*.aab

# Files for the ART/Dalvik VM
AndroidApp/*.dex

# Java class files
AndroidApp/*.class

# Generated files
AndroidApp/bin/
AndroidApp/gen/
AndroidApp/out/

# Gradle files
AndroidApp/.gradle
AndroidApp/.gradle/
AndroidApp/build/

# Signing files
AndroidApp/.signing/

# Local configuration file (sdk path, etc)
AndroidApp/local.properties

# Proguard folder generated by Eclipse
AndroidApp/proguard/

# Log Files
AndroidApp/*.log

# Android Studio
AndroidApp/*/build/
AndroidApp/*/local.properties
AndroidApp/*/out
AndroidApp/*/*/build
AndroidApp/*/*/production
AndroidApp/captures/
AndroidApp/.navigation/
AndroidApp/*.ipr
AndroidApp/*~
AndroidApp/*.swp

# Keystore files
AndroidApp/*.jks
AndroidApp/*.keystore

# Google Services (e.g. APIs or Firebase)
# google-services.json

# Android Patch
AndroidApp/gen-external-apklibs

# External native build folder generated in Android Studio 2.2 and later
AndroidApp/.externalNativeBuild

# NDK
AndroidApp/obj/

# IntelliJ IDEA
AndroidApp/*.iml
AndroidApp/*.iws
AndroidApp/out/

# User-specific configurations
AndroidApp/.idea/caches/
AndroidApp/.idea/libraries/
AndroidApp/.idea/shelf/
AndroidApp/.idea/workspace.xml
AndroidApp/.idea/tasks.xml
AndroidApp/.idea/.name
AndroidApp/.idea/compiler.xml
AndroidApp/.idea/copyright/profiles_settings.xml
AndroidApp/.idea/encodings.xml
AndroidApp/.idea/misc.xml
AndroidApp/.idea/modules.xml
AndroidApp/.idea/scopes/scope_settings.xml
AndroidApp/.idea/dictionaries
AndroidApp/.idea/vcs.xml
AndroidApp/.idea/jsLibraryMappings.xml
AndroidApp/.idea/datasources.xml
AndroidApp/.idea/dataSources.ids
AndroidApp/.idea/sqlDataSources.xml
AndroidApp/.idea/dynamic.xml
AndroidApp/.idea/uiDesigner.xml
AndroidApp/.idea/assetWizardSettings.xml
AndroidApp/.idea/gradle.xml
AndroidApp/.idea/jarRepositories.xml
AndroidApp/.idea/navEditor.xml

# OS-specific files
AndroidApp/.DS_Store
AndroidApp/.DS_Store?
AndroidApp/._*
AndroidApp/.Spotlight-V100
AndroidApp/.Trashes
AndroidApp/ehthumbs.db
AndroidApp/Thumbs.db

# Legacy Eclipse project files
AndroidApp/.classpath
AndroidApp/.project
AndroidApp/.cproject
AndroidApp/.settings/

# Mobile Tools for Java (J2ME)
AndroidApp/.mtj.tmp/
# Package Files #
AndroidApp/*.war
AndroidApp/*.ear

# virtual machine crash logs (Reference: http://www.java.com/en/download/help/error_hotspot.xml)

## Plugin-specific files:
# mpeltonen/sbt-idea plugin
AndroidApp/.idea_modules/

# JIRA plugin
AndroidApp/atlassian-ide-plugin.xml

# Mongo Explorer plugin
AndroidApp/.idea/mongoSettings.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
AndroidApp/com_crashlytics_export_strings.xml
AndroidApp/crashlytics.properties
AndroidApp/crashlytics-build.properties
AndroidApp/fabric.properties

### AndroidStudio Patch ###

AndroidApp/gradle/wrapper/gradle-wrapper.jar

# End of https://www.toptal.com/developers/gitignore/api/androidstudio
